<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/login.css" />
  <title>Quiz</title>
</head>

<body>
  <main>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form class="edit" action="/signup" method="post">
                <h1>Create Account</h1>
                <input type="text" name="name" placeholder="<%= locals.error1 ? error1: 'Name'%>" autocomplete="off" autofocus="true">
                <input type="email" name="email" placeholder="<%= locals.error2 ? error2: 'Email'%>" autocomplete="off" autofocus="true">
                <input type="password" name="password" placeholder="<%= locals.error3 ? error3: 'Password (between 8 and 15 characters)'%>" autocomplete="off" autofocus="true">
                <input type="text" name="type" placeholder="<%= locals.error4 ? error4: 'Quiz-creator or Quiz-taker'%>" autocomplete="off" autofocus="true">
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form class="edit" action="/signin" method="post">
                <h1>Sign In</h1>
                <input type="email" name="email" placeholder="<%= locals.error1 ? error1: 'Email'%>" autocomplete="off" autofocus="true">
                <input type="password" name="password" placeholder="<%= locals.error2 ? error2: 'Password'%>" autocomplete="off" autofocus="true">
                <% if (locals.error) { %>
                    <p><%= error %></p>
                <% } else{%>
                    <p></p>
                <% } %>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to get access to exciting quizzes and create new quizzes!</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to get access to exciting quizzes and create new quizzes!</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });
    </script>

</main>
</body>
</html>